<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="debsin.thecodework.arfurniture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name="debsin.thecodework.arfurniture.ui.DetailsActivity"
            android:exported="false" />
        <activity
            android:name="debsin.thecodework.arfurniture.ui.DashboardActivity"
            android:exported="true" />
        <activity
            android:name="debsin.thecodework.arfurniture.ui.ViewARModelActivity"
            android:exported="false" />
        <activity
            android:name="debsin.thecodework.arfurniture.splashScreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="debsin.thecodework.arfurniture.splashScreen.OnBoardingScreen1" />
        <activity android:name="debsin.thecodework.arfurniture.splashScreen.OnBoardingScreen2" />
        <activity android:name="debsin.thecodework.arfurniture.ui.LoginActivity" />
        <activity android:name="debsin.thecodework.arfurniture.ui.SignUpActivity" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>